:root {
    --bol-dark: #474b54;
    --bol-primary: #f6f8f9;
    --bol-1st: #47adf1;
    --bol-2nd: #9c72e4;
    --bol-3rd: #64c0a9;
    --bol-4th: #f29e33;
    --bol-5th: #d863a1;
    --bol-6th: #bbd044;
    --bol-7th: #9edacd;
    --bol-8th: #f0807a;
    --bol-9th: #d8dcdf;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.logo {
    vertical-align: middle;
}

.logo_text {
    font-family: Arial, sans-serif ;
    font-size: 2rem;
}

#site_main {
    background-color: #f6f8f9;
    height: 100%;
}

.buttons {
    background-color: white;
    width: 60%;
    height: 50px;
    margin: auto;
}

button {
    margin-top: 10px;
}

.task {
    background-color: #47adf1;
    width: 80px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    color: white;
    margin-left: 50px;
}

.section {
    background-color: white;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #d8dcdf;
    color: #d8dcdf;
}



